<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e312b823-ac8d-4d66-9551-33db6ee3c190/resourcegroups/RG_Grupo8/providers/Microsoft.Web/sites/slplanner</ResourceId>
    <ResourceGroup>RG_Grupo8</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://slplanner.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>slplanner.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>slplanner</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$slplanner</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="slplannerCS" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:slplannerdbserver.database.windows.net,1433;Initial Catalog=slplanner;User ID=Administrador@slplannerdbserver;Password=AnalisisGrupo8" Name="Data Source=tcp:slplannerdbserver.database.windows.net,1433;Initial Catalog=slplanner;User Id=Administrador@slplannerdbserver;Password=AnalisisGrupo8" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=slplanner;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\slplannerCS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=slplanner;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="slplannerCS-Web.config Connection String">
      <ParameterValue>Data Source=tcp:slplannerdbserver.database.windows.net,1433;Initial Catalog=slplanner;User Id=Administrador@slplannerdbserver;Password=AnalisisGrupo8</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>